<!-- <header>
    <div class="card" height="224" width="858">
    <div class="trendingText">
        Trending Today
    </div>
</div>
</header> -->

<div class="card-group">
    <div class="card bg-dark text-white" style="height: 200px;">
        <img src="/assets/webb.webp" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h6 class="card-title">James Webb Telescope</h6>
          <p class="card-text" >James Webb telescope reaches its final destination in space, a million miles away</p>
          <p class="card-text" > r/technology and more </p>
        </div>
      </div>
      <div class="card bg-dark text-white" style="height: 100px;">
        <img src="/assets/twotrend.webp" class="card-img" style="height: 268px;">
        <div class="card-img-overlay">
          <h5 class="card-title">Star Wars</h5>
          <p class="card-text"> Star Wars FPS developed by Respawn you say?</p>
          <p class="card-text">Last updated 3 mins ago</p>
        </div>
      </div>
      <div class="card bg-dark text-white" style="height: 268px;">
        <img src="/assets/threetrend.webp" class="card-img" style="height: 10000px;">
        <div class="card-img-overlay">
          <h5 class="card-title">Olavo de Carvalho</h5>
          <p class="card-text">Covid denialist and Bolsonaro ally Olavo de Carvalho died of virus, says daughter</p>
          <p class="card-text">Last updated 3 mins ago</p>
        </div>
      </div>
      <div class="card bg-dark text-white" style="height: 268px;">
        <img src="/assets/fourtrend.webp" class="card-img" style="height: 10000px;">
        <div class="card-img-overlay">
          <h5 class="card-title">Russia - Ukraine Conflict</h5>
          <p class="card-text">Tucker Carlson viewers calling me to say US should back Russia, Democrat says - New Jersey congressman says viewers are calling to express distress that Biden is not siding with Russia in Ukraine crisis</p>
          <p class="card-text">Last updated 3 mins ago</p>
        </div>
      </div>
  </div>