<header>
    <div class="card-boxes">
      <div class="card-trending">
    <div class="trendingText">
        Trending Today
    </div>
  </div>
    <div class="card-group">
      <div class="card bg-dark text-white m-3">
          <img src="/assets/neilYoung.jpeg" class="card-img">
          <div class="card-img-overlay">
            <h4 class="card-title" >Neil Young</h4>
            <p class="card-text">Spotify to Take Down Neil Youngs Music After His Joe...</p>
            <div class="darkMode d-flex flex-row align-items-center">
              <img src="/assets/rTechnologyLogo.png" class="card-img-logo">
              <p class="card-text"> r/technology and more </p>
            </div>
          </div>
        </div>
        <div class="card bg-dark text-white m-3">
          <img src="/assets/joeRogan.jpeg" class="card-img">
          <div class="card-img-overlay">
            <h4 class="card-title" >Climate</h4>
            <p class="card-text"> Experts eviscerate Joe Rogans wackadoo and deadly...</p>
            <div class="darkMode d-flex flex-row align-items-center">
              <img src="/assets/rEnvironmentLogo.png" class="card-img-logo">
              <p class="card-text"> r/environment and more </p>
            </div>
          </div>
        </div>
        <div class="card bg-dark text-white m-3">
          <img src="/assets/sarahPalin.jpeg" class="card-img">
          <div class="card-img-overlay">
            <h4 class="card-title" >Sarah Palin</h4>
            <p class="card-text" >Sarah Palin went out to eat at a NYC restaurant two days after...</p>
            <div class="darkMode d-flex flex-row align-items-center">
              <img src="/assets/rNewsLogo.png" class="card-img-logo">
              <p class="card-text"> r/news and more </p>
            </div>
          </div>
        </div>
        <div class="card bg-dark text-white m-3">
          <img src="/assets/amazon.webp" class="card-img" style="height: 10000px;" style="border-radius: 10%;">
          <div class="card-img-overlay">
            <h4 class="card-title">Amazon</h4>
            <p class="card-text">Amazon has disbanded the Twitter army it paid to tweet...</p>
            <div class="darkMode d-flex flex-row align-items-center">
              <img src="/assets/rTechnologyLogo.png" class="card-img-logo">
              <p class="card-text"> r/technology and more </p>
            </div>
          </div>
        </div>
    </div>
</div>
</header>

