.trendingText{
    margin-left: 240px;
    margin-top: -20px;
    font: normal small verdana, arial, helvetica, sans-serif;
    /* 858x224 */
}
.card-img-logo{
    width: 14px;
    height: 14px;
}
.card-text{
    font-size: 12px;
}
.card-title{
    margin-top: 35px;
}
.card-group{
    width: 998px;
    height: 178px;
    margin: 11.5px;
    margin-left: 200px;
}
.card-img{
    opacity: .5;
}
.card-boxes{
    
    width: 1425px;
    height: 224px;
}
