<header>
    <div class="card-boxes">
      <div class="card-trending">
    <div class="trendingText">
        Trending Today
    </div>
  </div>
    <div class="card-group">
      <div class="card bg-dark text-white m-1">
          <img src={{img}} class="card-img">
          <div class="card-img-overlay">
            <h5 class="card-title" >{{title}}</h5>
            <p class="card-text">{{maintext}}</p>
            <div class="darkMode d-flex flex-row align-items-center">
              <img src={{logo}} class="card-img-logo">
              <p class="card-text"> r/{{subreddit}} </p>
            </div>
          </div>
        </div>
        <div class="card bg-dark text-white m-1">
          <img src={{img}} class="card-img">
          <div class="card-img-overlay">
            <h5 class="card-title" >{{title}}</h5>
            <p class="card-text"> {{maintext}}</p>
            <div class="darkMode d-flex flex-row align-items-center">
              <img src={{logo}} class="card-img-logo">
              <p class="card-text"> r/{{subreddit}} </p>
            </div>
          </div>
        </div>
        <div class="card bg-dark text-white m-1">
          <img src={{img}} class="card-img">
          <div class="card-img-overlay">
            <h5 class="card-title" >{{title}}</h5>
            <p class="card-text" >{{maintext}}</p>
            <div class="darkMode d-flex flex-row align-items-center">
              <img src={{logo}} class="card-img-logo">
              <p class="card-text"> r/{{subreddit}} </p>
            </div>
          </div>
        </div>
        <div class="card bg-dark text-white m-1">
          <img src={{img}} class="card-img">
          <div class="card-img-overlay">
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text">{{maintext}}</p>
            <div class="darkMode d-flex flex-row align-items-center">
              <img src={{logo}} class="card-img-logo">
              <p class="card-text"> r/{{subreddit}} </p>
            </div>
          </div>
        </div>
    </div>
</div>
</header>

