<header>
<div class="list-group">
    <!-- <div class="card flex-row align-items-center">
    <img src="/assets/communityBanner.png" class="card-img-bg">
    </div> -->
    <div class="card">
        <img src="/assets/banner.png" class="card-img-bg">
        <div class="card-img-overlay">
          <a class="card-title" >Communities Near You</a>
        </div>
      </div>
    <a href="#" class="list-group-item list-group-item-action">
        <div class="number m-1 flex-row align-items-center">
            1
        <img src="/assets/rPittsburgh.png" class="card-img-logo">
        r/pittsburgh
        <a class="btn btn-primary" href="#" role="button">Join</a>
        </div>
        
        
    </a>
        
    <a href="#" class="list-group-item list-group-item-action">
        <div class="number m-1 flex-row align-items-center">
            2
        <img src="/assets/rPennsylvania.png" class="card-img-logo">
        r/Pennsylvania
        <a class="btn btn-primary" href="#" role="button">Join</a>
    </div></a>
    <a href="#" class="list-group-item list-group-item-action">
        <div class="number m-1 flex-row align-items-center">
            3
        <img src="/assets/rWV.png" class="card-img-logo">
        r/WestVirginia
        <a class="btn btn-primary" href="#" role="button">Join</a>
    </div></a>
    <a href="#" class="list-group-item list-group-item-action">
        <div class="number m-1 flex-row align-items-center">
            4
        <img src="/assets/rVAguns.jpeg" class="card-img-logo">
        r/VAGuns
        <a class="btn btn-primary" href="#" role="button">Join</a>
    </div></a>
    <a href="#" class="list-group-item list-group-item-action">
        <div class="number m-1 flex-row align-items-center">
            5
        <img src="/assets/rAppalacia.jpeg" class="card-img-logo">
        r/Appalachia
        <a class="btn btn-primary" href="#" role="button">Join</a>
    </div></a>
    
    <div class="card" style="width: 310px;" style="height: 112px;">
    <a class="btn-view-all btn-primary" href="#" role="button">View All</a>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn1 m-2 btn-primary">Top</button>
        <button type="button" class="btn2 m-2 btn-primary">Aww</button>
        <button type="button" class="btn3 m-2 btn-primary">Gaming</button>
        <button type="button" class="btn4 m-2 btn-primary">Sports</button>
      </div>
    </div>
</div>
  
</header>