.list-group{
    width: 312px;
    height: 431px;
    margin-left: 887px;

}
.card-img-logo{
    width: 30px;
    height: 30px;
    margin-left: 30px;
    border-radius: 50%;
}
.card-text{
    width: 312px;
    height: 30px;
}

.btn{
    width: 55px;
    height: 24;
font-size: 12px;
font-weight: 700;
position:absolute;
    right: 10px;
  color: rgba(108, 88, 179, 0.75);
  letter-spacing: 1px;
  line-height: 10px;
  border: 1.25px solid rgba(108, 89, 179, 0.75);
  border-radius: 35px;
  background: transparent;
  transition: all 0.3s ease 0s;
    background-color: #0079D3;
    border-color: #0079D3;
    color: aliceblue;
}
.card-img-bg{
    width: 312px;
    height: 45px;
    background: linear-gradient(0deg,rgba(0, 0, 0, 0.8) 0,rgb(0,121,211));
    content: "";
}
.btn-view-all{
    width: 286px;
    height: 32px;
    text-decoration: none;
    outline: none;
    margin-left: 12px;
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: rgba(108, 88, 179, 0.75);
    letter-spacing: 1px;
    line-height: 25px;
    border: 1.25px solid rgba(108, 89, 179, 0.75);
    border-radius: 35px;
    background: transparent;
    transition: all 0.3s ease 0s;
    background-color: #0079D3;
    border-color: #0079D3;
    color: aliceblue;
}
.card-title{
    width: 195px;
    height: 20px;
    position: absolute;
    bottom: 0;
    left: 1;
    font-family: IBM Plex Sans, Arial, sans-serif;
    font-weight: 500;
    font-style: bold;
    color: white;
    text-decoration: none;
    outline: none;
}
.card-img-bg{
    height: 80px;
    width: 310;
}

.btn1{
    
    width: 39px;
    height: 26px;
    background-color: rgb(246,247,248);
    color: rgb(0, 121, 211);
    font-weight: bold;
    font-family: "Noto Sans", Arial, sans-serif;
    font-size: 12px;
    border-radius: 30%;
    border: rgb(246,247,248);
}
.btn2{
    width: 47px;
    height: 26px;
    background-color: rgb(246,247,248);
    color: rgb(0, 121, 211);
    font-weight: bold;
    font-family: "Noto Sans", Arial, sans-serif;
    font-size: 12px;
    border-radius: 30%;
    border: rgb(246,247,248);
}
.btn3{
    width: 58px;
    height: 26px;
    background-color: rgb(246,247,248);
    color: rgb(0, 121, 211);
    font-weight: bold;
    font-family: "Noto Sans", Arial, sans-serif;
    font-size: 12px;
    border-radius: 30%;
    border: rgb(246,247,248);
}
.btn4{
    width: 56px;
    height: 26px;
    background-color: rgb(246,247,248);
    color: rgb(0, 121, 211);
    font-weight: bold;
    font-family: "Noto Sans", Arial, sans-serif;
    font-size: 12px;
    border-radius: 30%;
    border: rgb(246,247,248);
}