.list-group{
    width: 312px;
    height: 433px;
    margin-left: 887px;
}
.card-img-logo{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 30px;
}
.card-text{
    width: 312px;
    height: 30px;
}

.btn{
    width: 55px;
    height: 24;
font-size: 12px;
font-weight: 700;
position:absolute;
    right: 10px;
  color: rgba(108, 88, 179, 0.75);
  letter-spacing: 1px;
  line-height: 10px;
  border: 1.25px solid rgba(108, 89, 179, 0.75);
  border-radius: 35px;
  background: transparent;
  transition: all 0.3s ease 0s;
    background-color: #0079D3;
    border-color: #0079D3;
    color: aliceblue;
}
.card-img-bg{
    width: 312px;
    height: 45px;
}
.btn-view-all{
    width: 254px;
    height: 24px;
    margin-left: 30px;
    font-size: 12px;
font-weight: 700;
text-align: center;
  color: rgba(108, 88, 179, 0.75);
  letter-spacing: 1px;
  line-height: 25px;
  border: 1.25px solid rgba(108, 89, 179, 0.75);
  border-radius: 35px;
  background: transparent;
  transition: all 0.3s ease 0s;
    background-color: #0079D3;
    border-color: #0079D3;
    color: aliceblue;
}
.card-title{
    width: 195px;
    height: 20px;
    position: absolute;
    bottom: 0;
    left: 1;
    font-family: 'IBM Plex Sans, Arial, sans-serif';
    font-weight: 400;
    color: white;
}
.card-img-bg{
    height: 80px;
    width: 310;
}