<header>
<div class="list-group">
    <img src="/assets/communityBanner.png" class="card-img-bg">
          <div class="card-img-overlay">
            <h5 class="card-title" >Communities</h5>
              </div>
        

    <a href="#" class="list-group-item list-group-item-action">
        <div class="number flex-row align-items-center">
            1
        <img src="/assets/caretG.png" class="card-img-caret">
        <img src="/assets/rPittsburgh.png" class="card-img-logo">
        r/pittsburgh
        <a class="btn btn-primary" href="#" role="button">Join</a>
        </div>
        
        
    </a>
        
    <a href="#" class="list-group-item list-group-item-action">
        <div class="number flex-row align-items-center">
            2
        <img src="/assets/caretG.png" class="card-img-caret">
        <img src="/assets/rPennsylvania.png" class="card-img-logo">
        r/Pennsylvania
        <a class="btn btn-primary" href="#" role="button">Join</a>
    </div></a>
    <a href="#" class="list-group-item list-group-item-action">
        <div class="number flex-row align-items-center">
            3
        <img src="/assets/caretG.png" class="card-img-caret">
        <img src="/assets/rWV.png" class="card-img-logo">
        r/WestVirginia
        <a class="btn btn-primary" href="#" role="button">Join</a>
    </div></a>
    <a href="#" class="list-group-item list-group-item-action">
        <div class="number flex-row align-items-center">
            4
        <img src="/assets/caretG.png" class="card-img-caret">
        <img src="/assets/rVAguns.jpeg" class="card-img-logo">
        r/VAGuns
        <a class="btn btn-primary" href="#" role="button">Join</a>
    </div></a>
    <a href="#" class="list-group-item list-group-item-action">
        <div class="number flex-row align-items-center">
            5
        <img src="/assets/caretG.png" class="card-img-caret">
        <img src="/assets/rAppalacia.jpeg" class="card-img-logo">
        r/Appalachia
        <a class="btn btn-primary" href="#" role="button">Join</a>
    </div></a>
    <a class="btn-view-all btn-primary" href="#" role="button">View All</a>
  </div>
  
</header>