<header>
<div class="list-group">
    <div class="card-text">
        Communities Near You
        </div>
        <div class="darkMode d-flex flex-row align-items-center">

    <a href="#" class="list-group-item list-group-item-action">
        <img src="/assets/rPittsburgh.png" class="card-img-logo">
        r/pittsburgh</a>
        </div>
    <a href="#" class="list-group-item list-group-item-action">
        <img src="/assets/rPennsylvania.png" class="card-img-logo">
        r/Pennsylvania</a>
    <a href="#" class="list-group-item list-group-item-action">
        <img src="/assets/rWV.png" class="card-img-logo">
        r/WestVirginia</a>
    <a href="#" class="list-group-item list-group-item-action">
        <img src="/assets/rVAguns.jpeg" class="card-img-logo">
        r/VAGuns</a>
    <a href="#" class="list-group-item list-group-item-action">
        <img src="/assets/rAppalacia.jpeg" class="card-img-logo">
        r/Appalachia</a>
  </div>
</header>