<reddit-navigationbar>Loading ...</reddit-navigationbar>
<header>
<body style="background-color:rgba(219, 219, 219, 0.925);" class="body"> 
<p>
    Welcome to Reddit
</p>

<div *ngFor = "let trending of trendingtoday">
<reddit-trendingtoday img={{trending.img}} title={{trending.title}} maintext={{trending.maintext}} logo={{trending.logo}} subreddit={{trending.subreddit}}>
    
</reddit-trendingtoday>
</div>

<reddit-growingcommunities>Loading ...</reddit-growingcommunities>

<reddit-footer>Loading ...</reddit-footer>
</body> 
</header>