<img src="/assets/coins-bg.jpeg" width="1440" height="544" class="bi-crystal">
<div class="container">
    <h2 class="main">Heres what you can buy with coins
    </h2>
    <p class="subtext">
        Spend your coins on these Awards reserved exclusively for the finest Reddit contributors. 
        Awarding a post or comment highlights it for all to see, and some Awards also grant the honoree special bonuses.
    </p>
    <div class="container-sub">
        <div class="card-silver"></div>
        <div class="card-gold"></div>
        <div class="card-plat"></div>
    </div>
</div>
