.container{
-webkit-font-smoothing: antialiased;
background-color: rgb(255, 255, 255);
border-bottom-color: rgb(28, 28, 28);
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(28, 28, 28);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(28, 28, 28);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(28, 28, 28);
border-top-style: none;
border-top-width: 0px;
color: rgb(28, 28, 28);
display: block;
font-family: IBMPlexSans, Arial, sans-serif;
font-size: 16px;
font-stretch: normal;
font-style: normal;
font-variant-caps: normal;
font-weight: normal;
height: 466px;
line-height: 16px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: -300px;
padding-bottom: 160px;
padding-left: 20px;
padding-right: 20px;
padding-top: 96px;
text-align: center;
width: 1400px;
}
.main{
    -webkit-font-smoothing: antialiased;
    border-bottom-color: rgb(28, 28, 28);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(28, 28, 28);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(28, 28, 28);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(28, 28, 28);
    border-top-style: none;
    border-top-width: 0px;
    color: rgb(28, 28, 28);
    display: block;
    font-family: "Noto Sans", sans-serif;
    font-size: 32px;
    font-stretch: normal;
    font-style: normal;
    font-variant-caps: normal;
    font-weight: 600;
    height: 32px;
    line-height: 32px;
    margin-block-end: 16px;
    margin-block-start: 0px;
    margin-bottom: 16px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    text-align: center;
    width: 1400px;
}
.subtext{
    -webkit-font-smoothing: antialiased;
    border-bottom-color: rgb(28, 28, 28);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(28, 28, 28);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(28, 28, 28);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(28, 28, 28);
    border-top-style: none;
    border-top-width: 0px;
    color: rgb(28, 28, 28);
    display: block;
    font-family: "Noto Sans", sans-serif;
    font-size: 17px;
    font-stretch: normal;
    font-style: normal;
    font-variant-caps: normal;
    font-weight: 600;
    height: 72px;
    line-height: 24px;
    margin-block-end: 80px;
    margin-block-start: 16px;
    margin-bottom: 80px;
    margin-inline-end: 315px;
    margin-inline-start: 315px;
    margin-left: 315px;
    margin-right: 315px;
    margin-top: 16px;
    max-width: 770px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    text-align: center;
    width: 770px;
}
.container-sub{
    -webkit-font-smoothing: antialiased;
align-items: flex-start;
border-bottom-color: rgb(28, 28, 28);
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(28, 28, 28);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(28, 28, 28);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(28, 28, 28);
border-top-style: none;
border-top-width: 0px;
color: rgb(28, 28, 28);
display: flex;
font-family: IBMPlexSans, Arial, sans-serif;
font-size: 16px;
font-stretch: normal;
font-style: normal;
font-variant-caps: normal;
font-weight: normal;
height: 266px;
justify-content: center;
line-height: 16px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
text-align: center;
vertical-align: baseline;
width: 1400px;
}
.card-silver{
    -webkit-font-smoothing: antialiased;
    border-bottom-color: rgb(28, 28, 28);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(28, 28, 28);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(28, 28, 28);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(28, 28, 28);
    border-top-style: none;
    border-top-width: 0px;
    color: rgb(28, 28, 28);
    display: block;
    flex-basis: 320px;
    flex-grow: 0;
    flex-shrink: 1;
    font-family: IBMPlexSans, Arial, sans-serif;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    font-variant-caps: normal;
    font-weight: normal;
    height: 246px;
    line-height: 16px;
    margin-bottom: 20px;
    margin-left: 36px;
    margin-right: 36px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    text-align: center;
    width: 320px;
}
.card-gold{
    -webkit-font-smoothing: antialiased;
border-bottom-color: rgb(28, 28, 28);
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(28, 28, 28);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(28, 28, 28);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(28, 28, 28);
border-top-style: none;
border-top-width: 0px;
color: rgb(28, 28, 28);
display: block;
flex-basis: 320px;
flex-grow: 0;
flex-shrink: 1;
font-family: IBMPlexSans, Arial, sans-serif;
font-size: 16px;
font-stretch: normal;
font-style: normal;
font-variant-caps: normal;
font-weight: normal;
height: 246px;
line-height: 16px;
margin-bottom: 20px;
margin-left: 36px;
margin-right: 36px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
text-align: center;
width: 320px;
}
.card-plat{
    -webkit-font-smoothing: antialiased;
    border-bottom-color: rgb(28, 28, 28);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(28, 28, 28);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(28, 28, 28);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(28, 28, 28);
    border-top-style: none;
    border-top-width: 0px;
    color: rgb(28, 28, 28);
    display: block;
    flex-basis: 320px;
    flex-grow: 0;
    flex-shrink: 1;
    font-family: IBMPlexSans, Arial, sans-serif;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    font-variant-caps: normal;
    font-weight: normal;
    height: 246px;
    line-height: 16px;
    margin-bottom: 20px;
    margin-left: 36px;
    margin-right: 36px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    text-align: center;
    width: 320px;
}
.silver-text{
-webkit-font-smoothing: antialiased;
border-bottom-color: rgb(28, 28, 28);
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(28, 28, 28);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(28, 28, 28);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(28, 28, 28);
border-top-style: none;
border-top-width: 0px;
color: rgb(28, 28, 28);
display: block;
font-family: "Noto Sans", sans-serif;
font-size: 22px;
font-stretch: normal;
font-style: normal;
font-variant-caps: normal;
font-weight: 600;
height: 26px;
line-height: 26px;
margin-block-end: 12px;
margin-block-start: 0px;
margin-bottom: 12px;
margin-inline-end: 0px;
margin-inline-start: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
text-align: center;
text-transform: capitalize;
width: 320px;
}
.silver-subtext{
    -webkit-font-smoothing: antialiased;
border-bottom-color: rgb(28, 28, 28);
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(28, 28, 28);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(28, 28, 28);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(28, 28, 28);
border-top-style: none;
border-top-width: 0px;
color: rgb(28, 28, 28);
display: block;
flex-basis: 0%;
flex-grow: 1;
flex-shrink: 1;
font-family: "Noto Sans", sans-serif;
font-size: 16px;
font-stretch: normal;
font-style: normal;
font-variant-caps: normal;
font-weight: normal;
height: 72px;
line-height: 24px;
margin-block-end: 20px;
margin-block-start: 0px;
margin-bottom: 20px;
margin-inline-end: 0px;
margin-inline-start: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
text-align: center;
width: 320px;
}
.header{
-webkit-font-smoothing: antialiased;
border-bottom-color: rgb(255, 255, 255);
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(255, 255, 255);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(255, 255, 255);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(255, 255, 255);
border-top-style: none;
border-top-width: 0px;
color: rgb(255, 255, 255);
display: block;
font-family: "Noto Sans", sans-serif;
font-size: 52px;
font-stretch: normal;
font-style: normal;
font-variant-caps: normal;
font-weight: 600;
height: 105px;
line-height: 52px;
margin-block-end: 24px;
margin-block-start: 0px;
margin-bottom: 24px;
margin-inline-end: 0px;
margin-inline-start: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
max-width: 450px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
width: 560px;
}
.container-subhead{
    -webkit-font-smoothing: antialiased;
border-bottom-color: rgb(255, 255, 255);
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(255, 255, 255);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(255, 255, 255);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(255, 255, 255);
border-top-style: none;
border-top-width: 0px;
color: rgb(255, 255, 255);
display: block;
font-family: "Noto Sans", sans-serif;
font-size: 18px;
font-stretch: normal;
font-style: normal;
font-variant-caps: normal;
font-weight: 600;
height: 293px;
line-height: 28px;
margin-bottom: 0px;
margin-left: 108px;
margin-right: 108px;
margin-top: 0px;
max-width: 1440px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
vertical-align: baseline;
width: 1224px;
}
.coinsText{
    -webkit-font-smoothing: antialiased;
border-bottom-color: rgb(255, 255, 255);
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(255, 255, 255);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(255, 255, 255);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(255, 255, 255);
border-top-style: none;
border-top-width: 0px;
color: rgb(255, 255, 255);
display: block;
font-family: "Noto Sans", sans-serif !important; 
font-size: 20px;
font-stretch: semi-expanded;
font-style: normal;
font-variant-caps: normal;
font-weight: 600;
height: 84px;
line-height: 28px;
margin-block-end: 24px;
margin-block-start: 0px;
margin-bottom: 24px;
margin-inline-end: 0px;
margin-inline-start: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: -445px;
max-width: 560px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
vertical-align: baseline;
width: 560px;
}
.getCoins{
    -webkit-appearance: none;
-webkit-font-smoothing: antialiased;
align-items: center;
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(221, 189, 55);
background-image: none;
background-origin: padding-box;
background-position-x: 0%;
background-position-y: 0%;
background-size: auto;
border-bottom-color: rgb(255, 255, 255);
border-bottom-left-radius: 9999px;
border-bottom-right-radius: 9999px;
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(255, 255, 255);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(255, 255, 255);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(255, 255, 255);
border-top-left-radius: 9999px;
border-top-right-radius: 9999px;
border-top-style: none;
border-top-width: 0px;
box-sizing: border-box;
color: rgb(255, 255, 255);
cursor: pointer;
display: flex;
fill: rgb(255, 255, 255);
font-family: "Noto Sans", Arial, sans-serif;
font-size: 16px;
font-stretch: normal;
font-style: normal;
font-variant-caps: normal;
font-weight: bold;
height: 56px;
justify-content: center;
letter-spacing: normal;
line-height: 17px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
min-height: 32px;
min-width: 32px;
padding-bottom: 4px;
padding-left: 16px;
padding-right: 16px;
padding-top: 4px;
position: relative;
text-align: center;
text-indent: 0px;
text-shadow: none;
text-transform: none;
vertical-align: baseline;
width: 254px;
word-spacing: 0px;
writing-mode: horizontal-tb;
}
.bi-crystall{
    -webkit-font-smoothing: antialiased;
border-bottom-color: rgb(221, 189, 55);
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(221, 189, 55);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(221, 189, 55);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(221, 189, 55);
border-top-style: none;
border-top-width: 0px;
color: rgb(221, 189, 55);
display: inline-block;
font-family: "Noto Sans", sans-serif;
font-size: 20px;
font-stretch: normal;
font-style: normal;
font-variant-caps: normal;
font-weight: normal;
height: 20px;
line-height: 20px;
margin-bottom: 0px;
margin-left: -85px;
margin-right: 0px;
margin-top: -80px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
text-align: center;
vertical-align: middle;
white-space: nowrap;
width: 20px;
}
.silver-subtext-100{
    margin-top: -55px;
    margin-right: -10px;
}