<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="redditLogo.png" alt="Avatar Logo" 
        style="width:40px;" class="rounded-pill">
      </a>
      <form class="container-fluid">
        <div class="input-group">
          <span class="input-group-text" id="basic-addon1">@</span>
          <input type="text" class="form-control" placeholder="Search Reddit" aria-label="Search Reddit" aria-describedby="basic-addon1">
        </div>
      </form>
      <form class="container-fluid justify-content-start">
        <button class="btn btn-outline-success me-2" type="button">Log In</button>
        <button class="btn btn-outline-success me-2" type="button">Sign Up</button>
      </form>
  </div>
</nav>
