
/* Search Bar */
.form-control{
    height: 37.5px;
    padding: 2px 2px 2px 0;
    width: 650px;
    position:relative;
    padding-left: 40px;
    margin-top: -2.5px;
    opacity: 0.5;
    background-color: rgb(233, 233, 233);   
}
.container-fluid-navbar{
    position: relative;
    margin-right: -90px;
}
/* reddit word next to logo */
.reddit-text{
    height: 35px;
    padding: 8px 8px 8px 0;
    width: 85px;
    position:relative;
    left: -20px;
}
/* reddit logo top left */
.reddit-logo{
    height: 30px;
    width: 50px;
    position:relative;
    
    left: -10px;
}
.search-bar-icon{
    height: 20px;
    width: 40px;
    position:relative;
    margin-top: 8px;
    margin-left: 6px;
    opacity: 1;
    transform: translateX(55px);
}
  
/* user icon */
.btn{
    background-color: transparent;
    color: #0079D3;
    fill: #0079D3;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 3px 16px;
    opacity: 1; 
    position:relative;
    
    left: 55px;
}

/* sign up button */
.btnS{
font-size: 12px;
font-weight: 700;
position:relative;
    left: 130px;
  color: rgba(108, 88, 179, 0.75);
  letter-spacing: 1px;
  line-height: 0px;
  border: 1.25px solid rgba(108, 89, 179, 0.75);
  border-radius: 35px;
  background: transparent;
  transition: all 0.3s ease 0s;
    background-color: #0079D3;
    border-color: #0079D3;
    color: aliceblue;
    padding-inline: 30px;
}
/* Log in button */
.btnL{
    
    font-size: 12px;
    font-weight: 700;
    position:relative;
    left: 130px;
  color: rgba(108, 88, 179, 0.75);
  letter-spacing: 1px;
  line-height: -5px;
  border: 1.25px solid rgba(108, 89, 179, 0.75);
  border-radius: 35px;
  background: transparent;
  transition: all 0.3s ease 0s;
  padding-inline: 30px;
    background-color: #ffffff;
    border-color: #0079D3;
    color: rgb(0, 136, 255)
    
    
}

.dropdown{
    background-color: transparent;
    border-color: #ffffff;
    color: #0079D3;
    fill: #0079D3;
    box-sizing: border-box;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 3px 16px;
    opacity: 1; 
    left: 70px;
}
.viewOptions{
    font-size: 7px;
    opacity: .75;
    margin-left: -7px;
}
.darkMode{
    font-size: 12px;
    font: normal small verdana, arial, helvetica, sans-serif;
    text-transform: none;    
    
}
.moreStuff{
    font-size: 7px;
    opacity: .75;
    margin-left: -7px;
}
.coins{
    font-size: 12px;
    font: normal small verdana, arial, helvetica, sans-serif;
    text-transform: none;
}

.Premium{
    font-size: 12px;
    font: normal small verdana, arial, helvetica, sans-serif;
    text-transform: none;
}

.powerUps{
    font-size: 12px;
    font: normal small verdana, arial, helvetica, sans-serif;
    text-transform: none;
}

.Talk{
    font-size: 12px;
    font: normal small verdana, arial, helvetica, sans-serif;
    text-transform: none;
}

.Predictions{
    font-size: 12px;
    font: normal small verdana, arial, helvetica, sans-serif;
    text-transform: none;
}
.helpCenter{
    font-size: 12px;
    font: normal small verdana, arial, helvetica, sans-serif;
    text-transform: none;
}
.ZeroCoins{
    font-size: 7px;
    padding-inline: 15px;
    font: normal xx-small verdana, arial, helvetica, sans-serif;
    text-transform: none;
    opacity: .75; 
    
}
.bi-moon-fill{
    padding-inline: 0px;

}

.logInSignUp{
    font-size: 12px;
    font: normal small verdana, arial, helvetica, sans-serif;
    text-transform: none;
}
