<header>
    <div class="popular-text">
        Popular Posts
    </div>
     <div class="card bg-light">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn1 m-2 btn-primary">Hot</button>
            <button type="button" class="btn2 m-2 btn-primary">Everywhere</button>
            <button type="button" class="btn3 m-2 btn-primary">New</button>
            <button type="button" class="btn4 m-2 btn-primary">Top</button>
          </div>

     </div>
    





</header>