.reddit-help{
    font-size: 12px;
}
.reddit-coins{
    font-size: 12px;
}
.reddit-premium{
    font-size: 12px;
}
.reddit-gifts{
    font-size: 12px;
}
.reddit-communities{
    font-size: 12px;
}
.reddit-rereddit{
    font-size: 12px;
}
.reddit-topics{
    font-size: 12px;
}


.reddit-about{
    font-size: 12px;
    margin-left: -200px;
}
.reddit-careers{
    font-size: 12px;
    margin-left: -200px;
}
.reddit-press{
    font-size: 12px;
    margin-left: -200px;
}
.reddit-advertise{
    font-size: 12px;
    margin-left: -200px;
}
.reddit-blog{
    font-size: 12px;
    margin-left: -200px;
}
.reddit-terms{
    font-size: 12px;
    margin-left: -200px;
}
.reddit-content{
    font-size: 12px;
    margin-left: -200px;
}
.reddit-privacy{
    font-size: 12px;
    margin-left: -200px;}
.reddit-mod{
    font-size: 12px;
    margin-left: -200px;
}

.reddit-rights{
    font-size: 12px;
    width: 100px;
}