<div class="container">
  <div class="card">
    <div class="card-body">
    <footer class="row row-cols-5 py-5 my-5">
      <div class="col">
        <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        </a>
        
      </div>
  
      <div class="col">
  
      </div>
  
      <div class="col">
        
        <ul class="nav flex-column" style="margin-left: 100px;">
          <li class="reddit-help mb-2"><a href="#" class="nav-link p-0 text-muted">Help</a></li>
          <li class="reddit-coins mb-2"><a href="#" class="nav-link p-0 text-muted">Reddit Coins</a></li>
          <li class="reddit-premium mb-2"><a href="#" class="nav-link p-0 text-muted">Reddit Premium</a></li>
          <li class="reddit-gifts mb-2"><a href="#" class="nav-link p-0 text-muted">Reddit Gifts</a></li>
          <li class="reddit-communities mb-2"><a href="#" class="nav-link p-0 text-muted">Communities</a></li>
          <li class="reddit-rereddit mb-2"><a href="#" class="nav-link p-0 text-muted">Rereddit</a></li>
          <li class="reddit-topics mb-2"><a href="#" class="nav-link p-0 text-muted">Topics</a></li>
          <p class="reddit-rights text-nowrap text-muted" style="margin-top: 70px;">Reddit Inc © 2022. All rights reserved</p>
        </ul>
        </div>
      <ul class="nav flex-column" style="margin-left: 200px;">
        <li class="reddit-about mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
        <li class="reddit-careers mb-2"><a href="#" class="nav-link p-0 text-muted">Careers</a></li>
        <li class="reddit-press mb-2"><a href="#" class="nav-link p-0 text-muted">Press</a></li>
        <li class="reddit-advertise mb-2"><a href="#" class="nav-link p-0 text-muted">Advertise</a></li>
        <li class="reddit-blog mb-2"><a href="#" class="nav-link p-0 text-muted">Blog</a></li>
        <li class="reddit-terms mb-2"><a href="#" class="nav-link p-0 text-muted">Terms</a></li>
        <li class="reddit-content mb-2"><a href="#" class="nav-link p-0 text-muted">Content Policy</a></li>
        <li class="reddit-privacy mb-2"><a href="#" class="nav-link p-0 text-muted">Privacy Policy</a></li>
        <li class="reddit-mod mb-2"><a href="#" class="nav-link p-0 text-muted">Mod Policy</a></li>
      </ul>
    </footer>
  </div>
</div>
</div>